<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{power | exponencial}}

<div *ngIf="title === 'verdadero'">
  <p>La condicion se cumple</p>
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'caso1'">La condicion 1 se cumple</p>
  <p *ngSwitchCase="'caso2'">La condicion 2 se cumple</p>
  <p *ngSwitchCase="'caso3'">La condicion 3 se cumple</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items, index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">borrar</button>
  </li>
</ul>
